{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
	<body>
		<div id="wrapper">
			<header>
				<h1>
					{% if page.subtitle %}
						{% if page.category %}
							(<a href="{{ root_url }}/">in parens</a>)<small> / <a href="{{ root_url }}/{{ page.subtitle }}">{{ page.subtitle }}</a> / {{ page.category }}</small>
						{% else %}
							(<a href="{{ root_url }}/">in parens</a>)<small> / {{ page.subtitle }}</small>
						{% endif %}
					{% else if post %}
						(<a href="{{ root_url }}/">in parens</a>)
					{% else %}
						(<span>in parens</span>)
					{% endif %}
				</h1>
				<ul>
					<li><a class="twitter" href="http://twitter.com/#!/Lobstrosity">@Lobstrosity</a></li>
				</ul>
			</header>

			<div id="content">
				{{ content | expand_urls: root_url | backtick_codeblock | smart_quotes }}
			</div>

			<footer>
				<nav>
					<ul>
						{% if paginator.next_page %}
							<li class="prev"><a href="/page{{paginator.next_page}}/">&larr; Older</a></li>
						{% endif %}

						<li class="archive"><a href="/archive">Archive</a></li>

						{% if paginator.previous_page and paginator.previous_page > 1 %}
							<li class="next"><a href="/page{{paginator.previous_page}}/">Newer &rarr;</a></li>
						{% elsif paginator.previous_page %}
							<li class="next"><a href="/">Newer &rarr;</a></li>
						{% endif %}
					</ul>
				</nav>
			</footer>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script src="{{ root_url }}/scripts/gist.min.js"></script>
		<script>var _gaq=[['_setAccount','UA-25030121-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=true;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s);})(document,'script');</script>
	</body>
</html>
