<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]--><head>
	<meta charset="utf-8">
	<title>{{site.title}}{% if page.title %}: {{page.title}}{% endif %}</title>
	<meta name="author" content="{{site.author}}">
	{% if page.description %}
		<meta name="description" content="{{page.description}}"/>
	{% endif %}
	{% if page.keywords %}
		<meta name="keywords" content="{{page.keywords}}"/>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ root_url }}/stylesheets/combined.min.css" rel="stylesheet" />
	<link rel="shortcut icon" href="{{ root_url }}/images/favicon.ico" />
	<link rel="apple-touch-icon" href="{{ root_url }}/images/apple-touch-icon.png"/>
	<script src="{{ root_url }}/scripts/modernizr-2.0.js"></script>
</head>
